---
interface Props {
  whatsapp: string;
  contactLink: string;
  servicesLink: string;
}
const { whatsapp, contactLink, servicesLink } = Astro.props;
---
<div class="flex flex-col sm:flex-row gap-4 mb-8 justify-start lg:justify-start">
  <a
    href={contactLink}
    class="bg-primary text-white px-8 py-3 rounded-lg font-semibold hover:scale-105 transition-colors text-center"
  >
    Hace tu consulta
  </a>
  <a
    href={`https://wa.me/${whatsapp}`}
    target="_blank"
    class="border-2 border-zinc-700 text-zinc-700 px-8 py-3 rounded-lg font-semibold hover:scale-105 transition-colors text-center"
  >
    Servicios
  </a>
</div>