---
// 1. Importaciones: Traemos los datos y los nuevos componentes.
import { CONTACT_INFO } from "../../../utils/constants";
import ContainerSection from "../../ui/ContainerSection.astro";
import SectionHeader from "./SectionHeader.astro";
import ContactForm from "./ContactForm.astro";
import ContactInfoCard from "./ContactInfoCard.astro";
---

<main class="bg-zinc-100">
  <ContainerSection id="contacto">
  <div class="mx-auto ">
    
    <SectionHeader
      title="Contactanos"
      subtitle="Estamos aquí para ayudarte con todas tus consultas contables y fiscales. Contáctanos sin compromiso."
    />

    <div class="lg:grid lg:grid-cols-2 lg:gap-12">
      
      <ContactForm whatsappNumber={CONTACT_INFO.whatsapp} />

      <ContactInfoCard
        phone={CONTACT_INFO.telefono}
        email={CONTACT_INFO.email}
        whatsapp={CONTACT_INFO.whatsapp}
      />

    </div>
  </div>
</ContainerSection>
</main>